[submodule "utils"]
	path = ext/utils
	url = https://github.com/asrivast28/cpp-utils.git
[submodule "mxx"]
	path = ext/mxx
	url = https://github.com/patflick/mxx.git
[submodule "common"]
	path = ext/common
	url = https://github.com/AluruLab/bn-utils.git
[submodule "ext/trng4"]
	path = ext/trng4
	url = https://github.com/rabauke/trng4.git
